<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="d-flex justify-content-center align-items-center">
          <h2 class="title-project">
            Proyecto: <strong>ABM utilizando Angular</strong>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="mt-5">
          <h4>Objetivo:</h4>
          <p>
            Este proyecto esta pensado con el fin de demostrar mis conocimientos
            y poder dejar un ejemplo del mismo.
          </p>
        </div>
        <div class="">
          <h4>Función del proyecto:</h4>
          <p>
            El proyecto consta en un
            <strong>ABM (Alta - Baja - Modificación)</strong> de personas. De
            cada persona se sabe el nombre, apellido, edad, fecha de nacimiento,
            país y ciudad. Cuenta con un formulario en el cual se puede dar de
            alta a una persona, es decir, se puede crear una nueva persona con
            sus respectivos datos. Cada campo del formulario esta validado para
            que no existan campos vacios. A su vez, también existe una tabla en
            la cual se pueden visualizar todas las personas ingresadas con cada
            uno de sus datos.
          </p>
          <p>
            Además del formulario de carga de la persona, existe un formulario
            para cargar paises y otro para cargar ciudades, y de esa manera,
            tener una mayor variedad de datos.
          </p>
          <p>
            Una vez que ya hemos cargado nuestra persona, país o ciudad, vamos a
            visualizar estos datos en sus respectivas tablas, en la cual,
            existen 2 botones: uno para editar y otro para borrar. El botón de
            editar, nos permitira modificar una carga realizada de manera
            errónea. Al tocar este botón, nos redirigirá a un formulario donde
            ya estan los datos cargados, de esa manera solo modificamos el campo
            que este mal cargado. Cuando ya hemos realizado los cambios
            necesarios, guardamos y automaticamente nos redirigira a la tabla
            para observar que el dato a sido modificado correctamente. Por su
            parte, el botón de borrar, nos eliminara permanentemente a la
            persona, pais o ciudad que hemos elegio.
          </p>
          <p>
            Cada vez que realizamos una carga, modificacion o decidimos borrar
            permanentemente un dato, saldra una notificacion emergente
            diciendonos si se ha realizado con exito o si a ocurrido algun
            error.
          </p>
        </div>
        <div class="d-block">
          <h4>Tecnologías utilizadas:</h4>
          <div class="d-flex my-4 row gap-4 col-lg-12">
            <div
              class="col-lg-12 col-md-10 col-sm-6 d-flex align-items-center gap-4"
            >
              <div class="d-block align-items-center gap-3 text-center">
                <a href="https://angular.io/" target="_blank">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
                    alt=""
                    class="img-tecnologias mx-auto"
                  />
                  <p class="text-tecnologias my-auto">Angular</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a
                  href="https://www.redhat.com/es/topics/api/what-is-a-rest-api"
                  target="_blank"
                >
                  <img
                    src="https://blog.kakaocdn.net/dn/bn6hoH/btrbJJGfqjU/7PKWhJxYLIfIgS4DdkxmLK/img.png"
                    alt=""
                    class="img-tecnologias mx-auto"
                  />
                  <p class="text-tecnologias my-auto">REST API</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a href="https://getbootstrap.com/" target="_blank">
                  <img
                    src="https://www.drupal.org/files/project-images/bootstrap-stack.png"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">Bootstrap</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a href="https://www.npmjs.com/" target="_blank">
                  <img
                    src="https://www.liblogo.com/img-logo/np8797nb9e-npm-logo-npm-logo-png-transparent-amp-svg-vector-freebie-supply.png"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">NPM</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a
                  href="https://developer.mozilla.org/es/docs/Web/HTML"
                  target="_blank"
                >
                  <img
                    src="https://www.ujudebug.com/wp-content/uploads/2022/07/html-logo-transparent.png"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">HTML</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a
                  href="https://developer.mozilla.org/es/docs/Web/CSS"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    src="https://cdn.freebiesupply.com/logos/large/2x/css3-logo-png-transparent.png"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">css</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a href="https://www.typescriptlang.org/" target="_blank">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/919/919832.png"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">Typescript</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a href="https://code.visualstudio.com/" target="_blank">
                  <img
                    src="https://es.wizcase.com/wp-content/uploads/2022/02/en-visual-studio-code-logo.jpg"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">VS Code</p>
                </a>
              </div>
              <div class="d-block align-items-center gap-3">
                <a href="https://code.visualstudio.com/" target="_blank">
                  <img
                    src="https://e7.pngegg.com/pngimages/555/573/png-clipart-github-commonjs-source-code-node-js-github-purple-mammal.png"
                    alt=""
                    class="img-tecnologias"
                  />
                  <p class="text-tecnologias my-auto">GitHub</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
